<span ng-show="hoverFeature">
<p>
<b>Parcel Id: {{hoverFeature.properties.parcel_id}}</b><br>
Max Dua: {{hoverFeature.properties.maxDua || 0}}<br>
Feasible Units: {{hoverFeature.properties.unitsTotal || 0}}<br>
Affordable Units: {{hoverFeature.properties.unitsAff || 0}}<br>
Return on Cost: {{hoverFeature.properties.roc || 0 | numeraljs:'.000'}}<br>
Tif Capacity: {{(hoverFeature.properties.tifCapacity || 0) | inMillions | numeraljs:'0,0.0'}}M<br>
Land Residual: {{(hoverFeature.properties.residualLand || 0) | inMillions | numeraljs:'0,0.0'}}M
</p>
</span>