<header class="navbar navbar-default navbar-fixed-top navbar-inner">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-3" ng-click="isCollapsed = !isCollapsed">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand visible-xs" href="#">SAPlanner</a>
        </div>
        <nav class="hidden-xs">
            <ul class="nav navbar-nav">
                <span class="navbar-brand">
                    Small Area Planner <span ng-show="activeScenarioName()">({{activeScenarioName()}})</span>
                </span>
                <li class="dropdown" uib-dropdown>
                    <a role="button" class="dropdown-toggle" uib-dropdown-toggle>
                        Scenarios <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a ng-click="open()">New</a></li>
                        <li><a>Copy</a></li>
                        <li role="separator" class="divider"></li>
                        <li ng-repeat="scenario in scenarios"><a ng-click="setActive(scenario)">{{scenario.name}}</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
				<li><a href="http://mapcraft.io" target="_blank">Built by MapCraft</a></li>
			</ul>
        </nav>
        <nav class="visible-xs" uib-collapse="!isCollapsed">
            <ul class="nav navbar-nav">
                <li><a ng-click="isCollapsed = !isCollapsed">Open</a></li>
            </ul>
        </nav>
    </div>
</header>


<script type="text/ng-template" id="scenarioPickerModal.html">
    <div class="modal-header">
        <h3 class="modal-title">New Scenario</h3>
    </div>
    <div class="modal-body">
        <input type="text" class="form-control" ng-model="name">
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="ok()">New</button>
        <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
    </div>
</script>